In [1]:
import altair as alt
import pandas as pd

In [2]:
trem_list = pd.read_pickle('../data/tremor/aghosh.pkl')

In [3]:
tremors = trem_list[0]
tremors.head()

,Year,Month,Day,Hour,Minute,Latitude,Longitude,Depth,errLat,errLon,errDepth
0,2009,6,20,1,26,48.232500,-123.065000,28.000000,10.423439,7.125217,17.262677
1,2009,6,20,1,28,48.172500,-123.050000,23.750000,2.451065,1.355398,3.774917
2,2009,6,20,9,20,48.453333,-123.066667,55.000000,9.907575,2.795187,7.000000
3,2009,6,20,21,3,48.403333,-123.726667,53.333333,8.934842,11.118311,31.659648
4,2009,6,21,0,42,48.030000,-122.875000,21.000000,4.328503,7.153370,12.909944

In [18]:
timestamp = pd.to_datetime(tremors[['Year', 'Month', 'Day', 'Hour', 'Minute']])
type(timestamp)

pandas.core.series.Series

In [19]:
ts = timestamp.to_frame(name='Time')
type(ts)

pandas.core.frame.DataFrame

In [20]:
cleanup = tremors.drop(['Year', 'Month', 'Day', 'Hour', 'Minute'], axis=1)
cleanup.head()

    Latitude   Longitude      Depth     errLat     errLon   errDepth
0  48.232500 -123.065000  28.000000  10.423439   7.125217  17.262677
1  48.172500 -123.050000  23.750000   2.451065   1.355398   3.774917
2  48.453333 -123.066667  55.000000   9.907575   2.795187   7.000000
3  48.403333 -123.726667  53.333333   8.934842  11.118311  31.659648
4  48.030000 -122.875000  21.000000   4.328503   7.153370  12.909944

In [21]:
timed_tremors = pd.concat([ts, cleanup], axis=1)
timed_tremors.head()

,Time,Latitude,Longitude,Depth,errLat,errLon,errDepth
0,2009-06-20 01:26:00,48.232500,-123.065000,28.000000,10.423439,7.125217,17.262677
1,2009-06-20 01:28:00,48.172500,-123.050000,23.750000,2.451065,1.355398,3.774917
2,2009-06-20 09:20:00,48.453333,-123.066667,55.000000,9.907575,2.795187,7.000000
3,2009-06-20 21:03:00,48.403333,-123.726667,53.333333,8.934842,11.118311,31.659648
4,2009-06-21 00:42:00,48.030000,-122.875000,21.000000,4.328503,7.153370,12.909944

In [22]:
timed_tremors.to_pickle("reducedDF.pkl")